* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: .5s;
    float: right;
}

.toggle span {
    position: absolute;
    width: 50%;
    height: 4px;
    transition: .5s;
    background: #262626;
    transform: translateX(-50%);
}

.toggle span:nth-child(1) {
    top: 30%;
    left: 50%;
}

.toggle span:nth-child(2) {
    bottom: 30%;
    left: 50%;
}

.toggle.active span:nth-child(1) {
    top: 45%;
    left: 50%;
    width: 60%;
}

.toggle.active span:nth-child(2) {
    bottom: 50%;
    left: 50%;
    width: 60%;
}

.toggle.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(135deg);
}

.toggle.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(225deg);
}

.toggle.active span {
    background: #fff;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 4px;
    background: #262626;
    transition: .5s;
}

.toggle.active::before {
    opacity: 0;
}

.overlay.active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    transition: .5s;


}

.menu-ul {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-family: monospace;
    font-size: 5rem;
    line-height: 1.8;
    text-align: center;

    >li {
        width: 100vw;
        cursor: none;

        >a {
            border-radius: 2rem;
            text-decoration: none;
            color: white;
            padding: 1.5rem;
            cursor: none;
        }
    }

    >li:hover {
        background: #303030;
        transition: 1s;
    }
}

.cursor {
    display: none;
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 50 !important;
    mix-blend-mode: difference;
}